.calculator{
  margin: 5em;
  display: inline-block;
}
.calculator .button{
  height: 5em;
  width: 5em;
}
.calculator .button.text-clear{
  width: 15em;
}
.calculator .button.text-0{
  width: 10em;
}
.calculator .output{
  border: 1px solid black;
  height: 5em;
  position: relative;
}
.calculator .output span{
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 40px;
}